<h2>Insert new Book</h2>

<div class="row">
    <form class="form-group">
        <div class="form-horizontal">
            <hr />
            <div class="form-group col-md-6">
                <label for="#name" class="control-label">Name</label>
                <input class="form-control" id="#name" type="text" ng-model="newBook.Name" />
            </div>

            <div class="form-group col-md-6">
                <label for="#genre" class="control-label">Genre</label>
                <select id="#genre" class="form-control" ng-model="newBook.Genre">
                    <option ng-repeat="genre in genres" value="{{genre.Value}}">{{genre.Name}}</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="#author" class="control-label">Author</label>
                <input id="#author" class="form-control" type="text" ng-model="newBook.Author" />
            </div>

            <div class="col-md-6">
                <input id="status" type="hidden" />
            </div>

            <div class="form-group col-md-6">
                <label for="#quantity" class="control-label">Quantity</label>
                <input id="quantity" class="form-control" type="number" ng-model="newBook.Quantity" />
            </div>

            <div class="form-group col-md-10">
                <button type="submit" value="save()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>Save</button>
            </div>
        </div>
    </form>
</div>

<div class="row">   
    
    <button class="btn  btn-success"><a href="#">Main</a></button>
  
</div>


