<h3>Available books</h3>
<label ng-hide="authentication.isAuth" class="alert alert-info">You have to Log in to borrow books.</label>
<div class="content">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Details</th>
                <th>Status</th>
            </tr>
        </thead>
        <tr ng-repeat="book in books">
            <td >
                <div class="details">
                    <strong class="text-primary">Title:</strong> <label class="text-info">{{book.Name}}</label><br />
                    <strong class="text-primary">Author:</strong> <label class="text-info">{{book.Author}}</label><br />
                    <strong class="text-primary">Genre:</strong> <label class="text-info">{{book.Genre}}</label>
                </div>
            </td>
            <td align="center">
                <section ng-show="authentication.isAuth">
                    <div ng-show="book.Quantity > book.Queued && book.Status == 0">
                        <label class="alert alert-success" for="reserve">Available</label>
                        <button class="btn btn-success" id="reserve" ng-click="reserveBook(book)">Borrow Book</button>

                    </div>
                    <div ng-show="book.Quantity <= book.Queued && book.Status == 0">
                        <label class="alert alert-danger">All Borrowed!</label>
                        <button class="btn btn-primary" ng-click="reserveBook(book)">Queue Book</button>
                    </div>
                </section>                
            </td>
        </tr>
    </table>
</div>
